@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

h1{
    margin: 0;
    padding: 0;
    font-family: 'Hachi Maru Pop', sans-serif;
    font-size: 90px;
}
h2{
    margin: 0;
    font-family: 'Hachi Maru Pop', sans-serif;
    font-size: 30px;
}

p{
    margin: 0;
    padding: 0;
   
}

body{
    
    width: 1100px;
    background-color: rgba(33,33,33,255);
    margin: 0 auto;
    
    
}

.ball {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    border-radius: 50%;
  }

  .ball:hover {
    animation: bounce 2s infinite ease-in-out;
  }
  
  @keyframes bounce {
    0%, 100% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(1100px);
      }
    }

header{
    margin-bottom: 20px;
}

#banner{
    width: 1100px;
    height:250px;
    border-right: 4px solid #ff545c;
    border-top: 4px solid #ff545c;
    border-bottom: 4px solid #ff545c;
    border-left: 4px solid #ff545c;
    color: white;
    border-radius: 3px;
    text-align: center;
    animation: changeColor 5s infinite;

}
@keyframes changeColor {
    0% {
      background-color: #ff545c;
    }
    50% {
      background-color: #55d8c1;
    }
    100% {
      background-color: #ff545c;
    }
  }

ul{
    list-style-type: none;
    font-family: 'Hachi Maru Pop', sans-serif;
}

li{
    line-height: 25px;
    
}

a {
    text-decoration: none;
  }

a:link {
    color: aqua;
}

a:hover {
    text-decoration: none !important;
}

a:visited {
    color: aqua;
}


#col1{
    border-right: 4px solid #ff545c;
    border-bottom: 4px solid #ff545c;
    border-left: 4px solid #ff545c;
    border-radius: 3px;
}

.research{
    background-color: #ff545c;
    text-align: center;
    color:white;
}

#col2{
    border-right: 4px solid #ff545c;
    border-bottom: 4px solid #ff545c;
    border-left: 4px solid #ff545c;
    border-radius: 3px;
}

.madlib{
    background-color: #ff545c;
    text-align: center;
    color:white;
}

#col3{
    border-right: 4px solid #ff545c;
    border-bottom: 4px solid #ff545c;
    border-left: 4px solid #ff545c;
    border-radius: 3px;
}

.picture{
    background-color: #ff545c;
    text-align: center;
    color:white;
}

#col4{
    border-right: 4px solid #ff545c;
    border-bottom: 4px solid #ff545c;
    border-left: 4px solid #ff545c;
    border-radius: 3px;
}

.game_on{
    background-color: #ff545c;
    text-align: center;
    color:white;
}

main {
    display: flex;          
    flex-direction: row;     
    justify-content: space-between; /* Distribute space evenly between items */
    align-items: flex-start; /* Align items at the top */
    gap: 20px;               /* Add spacing between sections */
}

section {
    flex: 1;                 /* Ensure sections take equal space */
    max-width: 25%;          /* Ensure sections don't get too wide */
}

footer{
    font-family: 'Hachi Maru Pop', sans-serif;
}