@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

h1, p {
    margin: 0;
    padding: 0;
}

/* Set the wrapper to be full width and center the main container */
.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Main container should have a max width of 1200px, and a minimum width of 800px */
body{
    width: 1000px;
    background-color: aqua;
  
}

#banner{
    width: 1100px;
    height:250px;
    
}