html {
    height: 100%; /* Ensure the html element takes up the full height */
    margin: 0;
    padding: 0;
}

body {
    width: 1200px;
    height: 750px;
    margin: 0 auto; /* Horizontally centers the body */
    background-image: url('images/background_sakura.png');
    background-position: top center;
    background-repeat: no-repeat;
    font-family: 'Hachi Maru Pop', sans-serif;
    display: flex;
  
    justify-content: center; 
    align-items: center; 
    
}



p {
    padding: 0;
    font-size: 1.2rem; 
    margin-bottom: .6; 
    line-height: 1.5;
    transform: scale(0.8);
}

h2 {
    
    text-align: center; 
    font-size: 2rem; 
    margin-bottom: 1.5rem; 
}

